build  # conda python-build
certifi
comtypes; sys_platform == "win32"
dbus-python; sys_platform == "linux"
defusedxml
distro
numpy
Pillow
protobuf
psutil
PyChromecast
pyglet <= 2.1.3; python_version < "3.10"
pyglet >= 2.1.6; python_version >= "3.10"
pywin32; sys_platform == "win32"
PyYAML
Send2Trash
typing_extensions; python_version < "3.11"
WMI; sys_platform == "win32"
wxPython >= 4.2.2
zeroconf
