coverage>=7.6,<8
setuptools>=68,<81
flake8>=7,<8
flake8-bugbear>=24.12.12,<25
flake8-docstrings>=1.7.0,<2
flake8-import-order>=0.18.2,<1
flake8-mutable>=1.2.0,<2
flake8-spellcheck>=0.28.0,<1
matplotlib>=3.9,<4
py2app>=0.28.8,<1; sys_platform == "darwin"
py2exe>=0.13.0.2,<1; sys_platform == "win32"
pyglet>=2.0.17,<3
ruff>=0.8,<1
snowballstemmer>=2.2.0,<3
tox>=4.23.2,<5
twine>=5,<6
uv>=0.5.20,<1
wheel>=0.45,<1